.page-title {   
  height: 30px;
  background-color: RGB(240, 240, 240); 
  padding-top: 4px; 
  padding-left: 10px;
  .title {
    color: teal;
    font-weight: bold; 
    font-size: 14px;  
  }  
}

